.card{
    padding: 30px 10px;
    width: 15em;
    background-color: rgb(237, 244, 223);
    margin:0;
}
.container{
    padding-top: 50px;
    text-align: center;
    width: 750px;
    background-color: rgb(245, 242, 238);
}

.margin{
    margin: 10px 10px 20px 20px;
}